@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}
.navbar {
    background: rgb(255,175,0);
    background: radial-gradient(circle, rgba(255,175,0,1) 34%, rgba(241,194,20,1) 100%);
    padding: 18px;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
}

.phone_number {
    transform: translateY(10px);
    font-family: 'Open Sans', sans-serif;
    transition: 0.2s;
    font-size: 16.5px;
}


.phone_number:hover {
    text-decoration: underline;
    cursor: pointer;
}

.A {
    color: #000;
    background-color: #e49d01;
    padding: 3px 11px;
    border-radius: 50%;
    font-weight: 600;
}

.navbar-brand:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.header {
    height: 600px;
    font-family: 'Open Sans', sans-serif;
    background: rgb(255,175,0);
background: radial-gradient(circle, rgba(255,175,0,1) 34%, rgba(241,194,20,1) 100%);
    margin-bottom: 0;
}


.header-title {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

.header-text {
    font-size: 20px;
    opacity: 69%;
    color: #fff;
}


.card {
    font-family: 'Oswald', sans-serif;
    margin-top: 80px;
    color: #000;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover{
    transform: translateY(-5px);
}

.card-title {
    font-size: 25px;
    background: rgb(255,175,0);
background: radial-gradient(circle, rgba(255,175,0,1) 34%, rgba(241,194,20,1) 100%);
    text-transform: uppercase;
    font-weight: 600;
}

.card-text {
    font-size: 21px;
}


.otzivi {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif; 
}


.otziv {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.otziv_text {
    font-size: 18px;
    color: rgb(255,175,0);
    font-style: oblique;
    text-decoration: 
}

.btn:focus{
    box-shadow: none;
}

.btn-ad-otziv {
    background-color: rgb(255,175,0);
    padding: 6px 16px;
    border-radius: 40px;
    transition: 0.2s;
}

.btn-ad-otziv:hover{
    background-color: rgb(255,187,37);
}


.form {
    max-width: 600px;
}


/* адаптация под мобилы */

@media only screen and (max-width: 584px) {
    .header-title {
        font-size: 42px;
    }

    .header-text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 450px) {
    .header-title {
        font-size: 37.4px;
    }

    .header-text {
        font-size: 14.5px;
    }
}

@media only screen and (max-width: 350px) {
    .header-title {
        font-size: 34px;
    }

    .header-text {
        font-size: 12.5px;
    }

    .navbar-brand {
        font-size: 18px;
    }
}


@media only screen and (max-width: 538px) {
    .brand-none {
        display: none;
    }
}


@media only screen and (max-width: 380px) {
    .phone_number {
        font-size: 15px;
    }

}